.background {
    background-image: url('../images/coffeemachine.jpg');
    min-height: 1vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --font-family: 'IBM Plex Sans', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #343434;
    --primary-color: #ffffff;
    --primary-shadow: #343434;
    --secondary-color: #003d75;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    width: 60vw;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #003d75;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
}

body {
    font-family: var(--font-family);
    color: #ffffff;
    text-align: center;
    width: auto;
}

body a {
    color: #ffffff;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.header {
    padding: 40px;
    display: grid;
    grid-template-columns: 23vw 35vw;
    height: auto;
}

.headerhalf {
    text-align: left;
    width: 100%;
    float: left;
    padding: 20px;
    border: 0px;
}

#profilepic {
    padding-top: 40px;
    width: 86%;
}

#socialicons {
    width: 33vw;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}

#email {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    float: left;
    padding: 5px;
}

#email:hover {
    top: -5px;
}

#github {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    float: left;
    padding: 5px;
}

#github:hover {
    top: -5px;
}
#linkedin {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    float: left;
    padding: 5px;
}

#linkedin:hover {
    top: -5px;
}
#instagram {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    float: left;
    padding: 5px;
}

#instagram:hover {
    top: -5px;
}
#twitter {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    float: left;
    padding: 5px;
}

#twitter:hover {
    top: -5px;
}
#facebook {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    float: left;
    padding: 5px;
}

#facebook:hover {
    top: -5px;
}

.skills {
    padding: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
}

.skillssection {
    width: 90%;
    float: left;
    padding: 20px;
    border: 0px;
}

.passionssection {
    width: 90%;
    float: left;
    padding: 20px;
    border: 0px;
}

footer {
    padding: 40px;
}
